<ion-header>
    <ion-navbar>
      <ion-title>
        Kembali ke login
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

        <ion-item>
            <ion-label floating><span style="color: red">*</span>Nama</ion-label>
            <ion-input [(ngModel)]="name" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating><span style="color: red">*</span>E-mail</ion-label>
            <ion-input [(ngModel)]="email" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Alamat</ion-label>
            <ion-input [(ngModel)]="address" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
        </ion-item>

        <!-- <ion-item>-->
            <div floating><span style="color: red">*</span>Kota</div>
            <!-- <ion-select (click)="getCity()" [(ngModel)]="city"  >
                <ion-option *ngFor="let cit of cities" value={{cit.cityId}}>{{cit.nama}}</ion-option>
            </ion-select> -->
            <ion-auto-complete [(ngModel)]="city" [dataProvider]="completeTestService"></ion-auto-complete>
            <div>{{testing == null ? "": testing.nama}}</div>
        <!-- </ion-item> -->

        <ion-item>
            <ion-label floating><span style="color: red">*</span>No. Telp/Handphone (Tambahkan +62)</ion-label>
            <ion-input [(ngModel)]="phone" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating><span style="color: red">*</span>Register sebagai :</ion-label>
            <ion-select (ionChange)="getRegType()" [(ngModel)]="regType">
                <ion-option *ngFor="let reg of register" value={{reg.regTypeId}}>{{reg.regType1}}</ion-option> 
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating><span style="color: red">*</span>Username</ion-label>
            <ion-input [(ngModel)]="username" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating><span style="color: red">*</span>Password</ion-label>
            <ion-input [(ngModel)]="password" style="border-bottom: 1px solid #488aff" type="password"></ion-input>
        </ion-item>

        <div padding>
            <!-- <button (click)="registerBegin()" [disabled]="!name || !email || !city || !phone || !regType || !password" ion-button block>Register</button> -->
            <button (click)="sendVerificationCode()" [disabled]="!name || !email || !city || !phone || !regType || !password" ion-button block>Register</button>
            <p style="font-size: small">Sudah punya akun? <a (click)="login()">Login</a></p>
        </div>
  </ion-content>
  