<ion-header>
    <ion-navbar>
      <ion-title>
        Profil Vendor
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

  <!-- biodata -->
  <ion-card >
    <ion-card-header>
      Biodata
    </ion-card-header>
    <ion-item>
      Nama
      <ion-note item-end>
        {{name}}
      </ion-note>
    </ion-item>
    <ion-item>
      Alamat
      <ion-note item-end>
        {{address}}
      </ion-note>
    </ion-item>
    <ion-item>
      Kota
      <ion-note item-end>
        {{city}}
      </ion-note>
    </ion-item>
    <ion-item>
      Kontak
      <ion-note item-end>
        {{phone}}
      </ion-note>
    </ion-item>
    <div padding>
      <button (click)="updateBio()" ion-button block>Ubah Biodata</button>
    </div>
  </ion-card>
  <!-- biodata -->

  <!-- ads history -->
  <ion-card >
    <ion-card-header>
      Daftar Iklan Terpasang
    </ion-card-header>
    <ion-card  *ngFor="let ad of userAds">
        <ion-list>
          <ion-item-sliding>
              <ion-item>
                <h2>{{ ad.title }}</h2>
                <p>{{ ad.description }}</p>
              </ion-item>
              <ion-item-options>
                <button (click)="adsDetil(ad.adsId)" ion-button color="primary">Detil</button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="eye"></ion-icon>
              <div>{{ad.viewNumber}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="share-alt"></ion-icon>
              <div>{{ad.shareNumber}} </div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    <div padding>
      <button (click)="backToAds()" ion-button block>Tambah Iklan</button>
    </div>
  </ion-card>
  <!-- ads history -->

  <!-- package -->
  <ion-card >
    <ion-card-header>
      Sisa Paket
    </ion-card-header>
    <div padding>
      <h2><b>Sisa {{pointAmount}} poin</b></h2>
    </div>
    <div padding>
      <button (click)="backToPackage()" ion-button block>Tambah poin</button>
    </div>
  </ion-card>
  <!-- package -->

  <!-- upload -->
  <ion-card >
    <ion-card-header>
      Unggah Bukti Transfer
    </ion-card-header>
    <ion-card *ngFor="let pend of pending">
      <ion-card-content>
          <h2>Beli {{pend.pointNominal}}</h2>
          <p style="color: red">{{[pend.status]}}</p>
      </ion-card-content>
      <div padding>
        <button ion-button block color="secondary" (click)="goToUpload(pend.userPoinId)">Unggah Bukti Transfer</button>
      </div>
    </ion-card>
  </ion-card>
  <!-- upload -->

  <!-- Log Out -->
  <ion-card >
      <button (click)="logOut()" ion-button block>Log Out</button>
  </ion-card>
  <!-- Log Out -->

</ion-content>
