<ion-header>
    <ion-navbar>
      <ion-title>
        Pilih Paket
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

  <div *ngFor="let pack of package"> 

    <ion-card (click)="submitPackage(pack)">
      <ion-card-header>
        <ion-item>
          {{pack.description}}
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        Beli {{pack.paketPoint}} poin
      </ion-card-content>
    </ion-card>

  </div>


</ion-content>
