<ion-header>
  <ion-navbar>
    <ion-title>
      Laporan total User
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresher($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-card>
      <ion-card-header>
        Total Vendor : {{vendorsLength}}
      </ion-card-header>
      <ion-card *ngFor="let vendor of vendors">
          <ion-item>
            <h2>{{vendor.name}}</h2>
            <p>{{vendor.email}}</p>
          </ion-item>
      </ion-card>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Total Marketer : {{marketersLength}}
      </ion-card-header>
      <ion-card *ngFor="let marketer of marketers">
          <ion-item>
            <h2>{{marketer.name}}</h2>
            <p>{{marketer.email}}</p>
          </ion-item>
      </ion-card>
    </ion-card>


</ion-content>
