<ion-header>
    <ion-navbar>
        <ion-title>
            Unggah Bukti Share 
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div padding>
      <!-- <button ion-button color="secondary" (click)="getImage()">Ambil Gambar</button> -->
      <ion-item>
        <ion-input type="file" accept="image/*" (change)="changeListener($event)"> Ambil Gambar</ion-input>
      </ion-item>
    </div>
    <div padding>
      <button ion-button block (click)="uploadFile()">Upload</button>
    </div>
</ion-content>