

<ion-content padding>

  <!-- pages for admin -->
  <div *ngIf="regType == 'Admin'">
      <ion-tabs class="tabs-icon">
        <ion-tab tabIcon="browsers" tabTitle="Verify Poin" [root]="adminPage" [rootParams]="user"></ion-tab>
        <ion-tab tabIcon="laptop" tabTitle="Report" [root]="adminReportPage" [rootParams]="user"></ion-tab>
      </ion-tabs>
  </div>
  <!-- pages for admin -->

  <!-- pages for marketer -->
  <div *ngIf="regType == 'Marketer'">
    <ion-tabs class="tabs-icon">
      <ion-tab tabIcon="browsers" tabTitle="Iklan" [root]="marketerAds" [rootParams]="user"></ion-tab>
      <ion-tab tabIcon="contact" tabTitle="Profil" [root]="marketerProfile" [rootParams]="user"></ion-tab>
    </ion-tabs>
  </div>
  <!-- pages for marketer -->

  <!-- pages for vendor -->
  <div *ngIf="regType == 'Vendor'">
    <ion-tabs class="tabs-icon">
      <ion-tab tabIcon="contact" tabTitle="Profil" [root]="profile" [rootParams]="user"></ion-tab>
      <ion-tab tabIcon="browsers" tabTitle="Iklan" [root]="ads" [rootParams]="user"></ion-tab>
    </ion-tabs>
  </div>
  <!-- pages for vendor -->



</ion-content>
