<ion-header>
    <ion-toolbar>
        <ion-title>
            Deskripsi
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-title padding>
            {{title}}
        </ion-card-title>
        <img [src]="getImgContent()"/>
        <ion-card-content>
            <p>{{description}}</p>
        </ion-card-content>
        <div padding>
            <button ion-button block icon-start *ngIf="!promoted" (click)="share()">
                <ion-icon name="logo-facebook"></ion-icon>Bagikan ke Facebook
            </button>
            <button ion-button block icon-start *ngIf="promoted" disabled="true">
                <ion-icon name="logo-facebook"></ion-icon>Iklan telah terbagikan
            </button>
        </div>
    </ion-card>
</ion-content>