<ion-header>
    <ion-toolbar>
        <ion-title>
            Deskripsi
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-card >
            <ion-card-header>
                Gambar Bukti Transfer
            </ion-card-header>
            
            <ion-card >
                <ion-card-content>
                    <img class="img-responsive" src={{image}}/>
                </ion-card-content>
            </ion-card>
        </ion-card>
    </div>

    
</ion-content>