<ion-header>
  <ion-navbar>
    <ion-title>
      Pilih Iklan
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-list>
    <ion-card>
      <ion-card-header>
        Tambah Pekerjaan
      </ion-card-header>
      <ion-item>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDate" placeholder="Pilih Tanggal Awal"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDate" placeholder="Pilih Tanggal Akhir"></ion-datetime>
      </ion-item>
      <div padding>
        <button (click)="getMarketerAds()" ion-button round color="secondary">Cari</button>
      </div>
      <ion-card>
        <ion-item-sliding *ngFor="let ad of ads">
          <ion-item>
            <h2>{{ad.title}}</h2>
            <p>{{ad.description}}</p>
          </ion-item>
          <ion-item-options>
              <button (click)="adsDetail(ad.adsId)" ion-button color="primary">
                Detil
              </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-card>

    <ion-card>
        <ion-card-header>
          Iklan yang telah Dibagikan
        </ion-card-header>
        <ion-item>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDateAcc" placeholder="Pilih Tanggal Awal"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDateAcc" placeholder="Pilih Tanggal Akhir"></ion-datetime>
        </ion-item>
        <div padding>
          <button (click)="getAcceptedAds()" ion-button round color="secondary">Cari</button>
        </div>
        <ion-card> 
          
        <ion-item-sliding *ngFor="let ad of accads">
          <ion-item>
              <h2>{{ad.ads.title}}</h2>
              <p>{{ad.ads.description}}</p>
            </ion-item>
            <ion-item-options>
              <button (click)="adsaccDetail(ad.adsId, ad.postAdsId)" ion-button color="primary">
                Upload
              </button>
            </ion-item-options>
            </ion-item-sliding>
        </ion-card>
    </ion-card>

  </ion-list>



</ion-content>
