<ion-header>
    <ion-toolbar>
        <ion-title>
            Deskripsi
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-title padding>
            {{title}}
        </ion-card-title>
        <img [src]="getImgContent()"/>
        <ion-card-content>
            <p>{{description}}</p>
        </ion-card-content>
        <div padding>
            <ion-item>
                <ion-input type="file" accept="image/*" (change)="changeListener($event)"> Ambil Gambar</ion-input>
            </ion-item>
            <button ion-button block icon-start (click)="uploadFile()" [disabled]="file == null">
                Upload Bukti Promote
            </button>
        </div>
    </ion-card>
</ion-content>