<ion-header>
    <ion-toolbar>
        <ion-title>
            Deskripsi
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="typeModal == 'Vendor'">
        <ion-card >
            <ion-card-header>
                Unggah Bukti Transfer
            </ion-card-header>
            
            <ion-card *ngFor="let point of points; let i = index">
                <ion-card-content>
                    <h2>Beli {{point.pointNominal}} Poin</h2>
                    <p style="color: red">{{[point.status]}}</p>
                    <button ion-button block color="primary" (click)="getImage(point.userPoinId)">Show Uploaded Image</button>
                </ion-card-content>
                <div padding>
                <button ion-button block color="secondary" (click)="verifyPurchase(point.userPoinId)">Verifikasi Transaksi</button>
                </div>
            </ion-card>
        </ion-card>
    </div>

    <div *ngIf="typeModal == 'Marketer'">
            <ion-card >
                <ion-card-header>
                    Persetujuan penarikan poin
                </ion-card-header>
                <ion-card *ngFor="let req of pointsReq">
                    <ion-card-content>
                        <h2>Tukar {{req.pointNominal}} Poin</h2>
                        <p style="color: red">{{[req.status]}}</p>
                    </ion-card-content>
                    <div padding>
                    <button ion-button block color="secondary" (click)="verifyRequest(req.userPoinId)">Verifikasi Transaksi</button>
                    </div>
                </ion-card>
            </ion-card>
        </div>
</ion-content>