<ion-header>
    <ion-navbar>
      <ion-title>
        Profil Marketer
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

  <!-- biodata -->
  <ion-card >
    <ion-card-header>
      Biodata
    </ion-card-header>
    <ion-item>
      Nama
      <ion-note item-end>
          {{name}}
      </ion-note>
    </ion-item>
    <ion-item>
      Alamat
      <ion-note item-end>
          {{address}}
      </ion-note>
    </ion-item>
    <ion-item>
      Kota
      <ion-note item-end>
          {{city}}
      </ion-note>
    </ion-item>
    <ion-item>
      Kontak
      <ion-note item-end>
          {{phone}}
      </ion-note>
    </ion-item>
    <div padding>
      <button (click)="updateBio()" ion-button block>Ubah Biodata</button>
    </div>
  </ion-card>
  <!-- biodata -->

  <!-- marketer ads history -->
  <ion-card >
    <ion-card-header>
      Daftar Iklan Tersebar
    </ion-card-header>
    <ion-item>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDate" placeholder="Pilih Tanggal Awal"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDate" placeholder="Pilih Tanggal Akhir"></ion-datetime>
    </ion-item>
    <div padding>
      <button (click)="getMarketerAds()" ion-button round color="secondary">Cari</button>
    </div>
    <ion-card  *ngFor="let ad of ads">
      <ion-card-content>
          <h2>{{ad.ads.title}}</h2>
          <p>{{ad.ads.description}}</p>
      </ion-card-content>
    </ion-card>
    <div padding>
      <button (click)="backToAds()" ion-button block>Tambah Kerja</button>
    </div>
  </ion-card>
  <!-- ads history -->

  <!-- package -->
  <ion-card >
    <ion-card-header>
      Poin
    </ion-card-header>
    <div padding>
      <h2><b>Dapat {{pointAmount}} poin</b></h2>
    </div>
  </ion-card>
  <!-- package -->

  <!-- package -->
  <ion-card >
      <ion-card-header>
        Ajukan pencairan poin (1 poin = Rp.1000,00)
      </ion-card-header>
      <div padding>
          <ion-item>
              <ion-label floating>Jumlah Poin yang diajukan</ion-label>
              <ion-input [(ngModel)]="totalPoin" (ionChange)="totalAllPoint()" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Konversi poin ke Rupiah</ion-label>
              <ion-input [(ngModel)]="totalMoney"  disabled style="border-bottom: 1px solid #488aff" type="text"></ion-input>
          </ion-item>
      </div>

      <div padding>
          <button (click)="agree()" ion-button block>Ajukan</button>
      </div>
    </ion-card>
  <!-- package -->

  <!-- Share -->
  <!-- <ion-card >
      <ion-card-header>
        Unggah Bukti Share
      </ion-card-header>

      <div padding>
        <button ion-button block color="secondary" (click)="goToUpload()">Unggah Bukti Share</button>
      </div>
  </ion-card> -->
  <!-- Share -->

  <!-- Log Out -->
  <ion-card >
    <button (click)="logOut()" ion-button block>Log Out</button>
  </ion-card>
  <!-- Log Out -->

</ion-content>
