<ion-header>
  <ion-navbar>
    <ion-title>
        Admin
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>



</ion-content>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresher($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card>
      <ion-card-header>
        Verifikasi Poin List Vendor
      </ion-card-header>
      <ion-card *ngFor="let vendor of vendors">
          <ion-item (click)="getPoin(vendor.user.userId)">
            <h2>{{vendor.user.name}}</h2>
            <p>{{vendor.user.email}}</p>
          </ion-item>
      </ion-card>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Verifikasi Poin List Marketer
      </ion-card-header>
      <ion-card *ngFor="let marketer of marketers">
          <ion-item (click)="getRequestPoin(marketer.userId)">
            <h2>{{marketer.name}}</h2>
            <p>{{marketer.email}}</p>
          </ion-item>
      </ion-card>
    </ion-card>

    <!-- <ion-card>
      <ion-card-header>
        Verifikasi Sharing Iklan Marketer
      </ion-card-header>
      <ion-card *ngFor="let marketer of marketers">
          <ion-item (click)="getShare(marketer.userId)">
            <h2>{{marketer.name}}</h2>
            <p>{{marketer.email}}</p>
          </ion-item>
      </ion-card>
    </ion-card> -->
    <ion-card>
      <ion-card-header>
        Iklan yang telah Dibagikan
      </ion-card-header>
      <ion-item>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDateAcc" placeholder="Pilih Tanggal Awal"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDateAcc" placeholder="Pilih Tanggal Akhir"></ion-datetime>
      </ion-item>
      <div padding>
        <button (click)="getAcceptedAds()" ion-button round color="secondary">Cari</button>
      </div>
      <ion-card> 
        
      <ion-item-sliding *ngFor="let ad of accads">
        <ion-item>
            <h2>{{ad.ads.title}}</h2>
            <p>{{ad.ads.description}}</p>
          </ion-item>
          <ion-item-options>
            <button (click)="adsaccDetail(ad.adsId, ad.postAdsId, ad.postAds.imagePath)" ion-button color="primary">
              Upload
            </button>
          </ion-item-options>
          </ion-item-sliding>
      </ion-card>
  </ion-card>

    <!-- Log Out -->
  <ion-card >
      <button (click)="logOut()" ion-button block>Log Out</button>
  </ion-card>
  <!-- Log Out -->

</ion-list>
</ion-content>
