<ion-header>
  <ion-navbar>
    <ion-title>
      Pasang Iklan
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
      <ion-label floating>Judul</ion-label>
      <ion-input [disabled]="typeDisable" [(ngModel)]="title" style="border-bottom: 1px solid #488aff" type="text"></ion-input> 
  </ion-item>

  
  <div>
      <!-- <button ion-button block color="secondary" *ngIf="createable" (click)="getImage()">Get Image</button>
      <ion-card padding>
        <ion-card-header>
          Preview Image
        </ion-card-header>
        <ion-card-content>
          <img class="img-responsive" *ngIf="bigImg != null"   [src]="getImgContent() " />
        </ion-card-content>
      </ion-card> -->
      <ion-item>
        <ion-input *ngIf="createable" type="file" accept="image/*" (change)="changeListener($event)"> </ion-input>
        <img *ngIf="typeDisable"  [src]="getImgContent()"/>
      </ion-item>
  </div>

  <ion-item>
    <ion-label floating>Deskripsi</ion-label>
    <ion-textarea [disabled]="typeDisable" [(ngModel)]="description" style="border-bottom: 1px solid #488aff" type="text"></ion-textarea> 
  </ion-item>

    <!-- <ion-item>-->
    
      <div floating><span *ngIf="createable" style="color: red">*</span>Kategori Marketer :</div>
    <!-- <ion-select *ngIf="createable" (click)="getMarket()" [(ngModel)]="marketerType"  >
        <ion-option *ngFor="let cit of cities" value={{cit.cityId}}>{{cit.nama}}</ion-option>
    </ion-select>-->
    <ion-auto-complete  [(ngModel)]="marketerType" [dataProvider]="completeTestService"></ion-auto-complete>
    <ion-input [disabled]="typeDisable" [(ngModel)]="marketerType" style="border-bottom: 1px solid #488aff" type="text"></ion-input>
  <!-- </ion-item> -->


  <div padding>
    <!-- <button *ngIf="createable" (click)="submitAds()" [disabled]="!title || !description || !marketerType || !bigImg" ion-button block>Submit</button> -->
    <button *ngIf="createable" (click)="submitAds()" ion-button block>Submit</button>
  </div>



</ion-content>
